@use "../../styles/variables" as vars;

.categories-wrapper {
  position: relative;
  width: vars.$w-full;
  overflow: hidden;
  padding-left: vars.$margin-medium;
  box-sizing: border-box;
  margin-top: vars.$margin-medium;

  h1 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: vars.$margin-medium;
  }
}

#categories-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding-right: 0;
  scroll-padding-left: vars.$margin-medium;
}

#categories-container::-webkit-scrollbar {
  display: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  width: 150px;

  img {
    width: vars.$category-img-width;
    height: vars.$category-img-height;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    scroll-snap-align: start;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }

  p {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: vars.$margin-small;
    margin-bottom: 2.8rem;
  }
}

.static_banners {
  .small_banner {
    margin-bottom: vars.$margin-small;
  }

  img {
    width: vars.$w-full;
    height: auto;
  }
}
