.categories-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
  h1 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

#categories-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding-right: 0;
  scroll-padding-left: 1rem;
}

#categories-container::-webkit-scrollbar {
  display: none;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  width: 150px;

  img {
    width: 135px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    scroll-snap-align: start;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }

  p {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    margin-bottom: 2.8rem;
  }
}

.static_banners {
    
  .small_banner {
    margin-bottom: 0.3rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}
