@use "../../styles/variables" as vars;

.products_wrapper {
  position: relative;
  width: vars.$w-full;
  overflow: hidden;
  padding-left: vars.$margin-small;
  box-sizing: border-box;
  margin-top: 0.7rem;

  h1 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: vars.$margin-medium;
  }
}

.products_container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 0;
  scroll-padding-left: vars.$margin-medium;

  &::-webkit-scrollbar {
    display: none;
  }
}

.products_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  width: vars.$card-width;
  position: relative;

  .image_wrapper {
    position: relative;

    img {
      width: vars.$product-img-size;
      height: vars.$product-img-size;
      background-color: #f7f7f7;
      object-fit: cover;
    }

    .icon_heart_wrapper,
    .icon_add_wrapper {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: vars.$white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .icon_heart_wrapper {
      top: vars.$margin-small;
      right: vars.$margin-small;
    }

    .icon_add_wrapper {
      bottom: vars.$margin-small;
      right: vars.$margin-small;
    }

    .icon_heart {
      width: 12px;
      height: 12px;
      background-color: vars.$white;
    }

    .icon_add {
      width: 24px;
      height: 24px;
      background-color: vars.$white;
    }

    .discount_badge {
      position: absolute;
      bottom: vars.$margin-small;
      left: vars.$margin-small;
      color: vars.$red;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 2px;
    }
  }

  .name {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: vars.$margin-small;
    color: vars.$black;
  }

  .discount {
    display: flex;
    gap: vars.$margin-small;
    align-items: baseline;
    margin-top: 0;

    .old_price {
      font-size: 0.8rem;
      color: vars.$gray;
      text-decoration: line-through;
    }

    .new_price {
      font-size: 0.9rem;
      font-weight: 400;
      color: vars.$black;
    }
  }
}
