@use "../../styles/variables" as vars;

.products_wrapper {
  position: relative;
  width: vars.$w-full;
  overflow: hidden;
  padding-left: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.7rem;

  h1 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.products_container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 0;
  scroll-padding-left: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.products_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  width: 250px;
  position: relative;

  .image_wrapper {
    position: relative;

    img {
      width: 220px;
      height: 220px;
      background-color: #f7f7f7;
      object-fit: cover;
    }

    .icon_heart_wrapper,
    .icon_add_wrapper {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .icon_heart_wrapper {
      top: 8px;
      right: 8px;
    }

    .icon_add_wrapper {
      bottom: 8px;
      right: 8px;
    }

    .icon_heart {
      width: 12px;
      height: 12px;
      background-color: white;
    }

    .icon_add {
      width: 24px;
      height: 24px;
      background-color: white;
    }

    .discount_badge {
      position: absolute;
      bottom: 8px;
      left: 8px;
      color: #b11b26;
      font-size: 0.8rem;
      font-weight: 600;
      padding: 2px 6px;
      border-radius: 4px;
    }
  }

  .name {
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 0.4rem;
    color: #000;
  }

  .discount {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;

    .old_price {
      font-size: 0.8rem;
      color: gray;
      text-decoration: line-through;
    }

    .new_price {
      font-size: 0.9rem;
      font-weight: 400;
      color: #000;
    }
  }
}
