// Cores
$red: #b11b26;
$black: #000000;
$white: #ffffff;

// Flex helpers
$flex: flex;
$flex-col: column;

$justify-center: center;
$justify-start: flex-start;
$justify-between: space-between;

$items-center: center;
$items-start: flex-start;
$items-end: flex-end;

// Espaçamentos
$mt: 0.5rem;
$mb: 0.5rem;
$ml: 0.5rem;
$mr: 0.5rem;

// Largura/altura
$w-full: 100%;
$w-auto: auto;
$h-full: 100%;
$h-auto: auto;

// Texto
$text-center: center;
$text-start: start;
