// Colors
$white: #fff;
$black: #000;
$weak-gray: #eeeeee;
$gray: #8a8a8a;
$gray-dark: #7d7d7d;
$red: #b11b26;
$overlay: rgba(0,0,0,0.4);


// Sizes
$w-full: 100%;
$header-height: 3rem;
$card-width: 250px;
$product-img-size: 220px;
$category-img-width: 135px;
$category-img-height: 190px;
$dot-size: 6px;

// Margin
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.25rem;
$margin-xlarge: 1.8rem;

// Justify / Align
$justify-between: space-between;
$items-center: center;
$items-end: flex-end;
