@use "../../styles/variables" as vars;

.cards_wrapper {
  position: relative;
  width: vars.$w-full;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: #f7f7f7;

  .main_title {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: vars.$margin-xlarge;
    margin-left: vars.$margin-large;
  }

  .small_text {
    font-size: 0.8rem;
    margin-bottom: vars.$margin-medium;
    color: vars.$gray;
    margin-top: vars.$margin-small;
    margin-left: vars.$margin-large;
    font-style: italic;
  }
}

.cards_container {
  margin-top: vars.$margin-medium;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: vars.$margin-medium;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cards_item {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  transition: transform 0.3s;

  .cards_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
      height: auto;
      object-fit: cover;
      display: block;
      padding: 0;
      margin: 0;
    }

    .title {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 0.6rem;
      margin-left: vars.$margin-large;
      margin-right: vars.$margin-large;
      text-transform: uppercase;
    }

    .description {
      font-size: 0.8rem;
      margin-bottom: vars.$margin-medium;
      color: vars.$gray;
      margin-top: vars.$margin-small;
      margin-left: vars.$margin-large;
      margin-right: vars.$margin-large;
    }

    .smaller_text {
      font-size: 0.8rem;
      margin-left: vars.$margin-large;
      color: vars.$black;
      font-weight: 200;
      cursor: pointer;
    }
  }
}

.cards_indicators {
  display: flex;
  gap: vars.$margin-small;
  align-items: center;
  justify-content: end;
  margin-right: vars.$margin-large;
  margin-bottom: 2rem;
}

.card_dot {
  width: vars.$dot-size;
  height: vars.$dot-size;
  background: vars.$gray-dark;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.card_dot.active {
  background: vars.$black;
}
