@use "../../styles/variables" as vars;

.sidebar {
  position: fixed;
  top: 0;
  left: -331px;
  width: 331px;
  height: 100%;
  background-color: vars.$white;
  z-index: 20;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  justify-content: vars.$justify-between;

  &.open {
    left: 0;
  }

  .close_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: vars.$black;
    background: vars.$weak-gray;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: vars.$margin-large;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;

      svg {
        width: 1rem;
        height: 1rem;
        color: vars.$black;
      }
    }
  }
}

#top_menu {
  display: flex;
  align-items: vars.$items-center;
  justify-content: vars.$justify-between;
  padding: vars.$margin-small;
}

#menu_banner {
  width: 331px;
  height: 120px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    width: 107%;
    left: 79%;
    transform: translateX(-79%);
    height: auto;
    max-width: 150%;
  }
}

#bottom_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 331px;
  height: vars.$header-height;
  display: flex;
  justify-content: vars.$justify-between;
  align-items: vars.$items-center;
  color: vars.$white;

  p {
    font-size: 0.8rem;
    font-weight: 400;
    padding: vars.$margin-medium;
    margin-bottom: vars.$margin-large;
  }

  button {
    background: transparent;
    border: none;
    color: vars.$white;
    cursor: pointer;
    font-size: 0.7rem;
    padding: vars.$margin-medium;
    margin-bottom: vars.$margin-small;
    text-decoration: underline;
    font-weight: 300;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: vars.$w-full;
  height: 100%;
  background: vars.$overlay;
  z-index: 15;
}

.menu_nav {
  margin-left: vars.$margin-medium;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;

  .menu_section {
    font-weight: 400;
    margin-bottom: vars.$margin-medium;
    font-size: 0.9rem;
  }

  .categories {
    display: flex;
    flex-direction: column;
    margin-bottom: vars.$margin-medium;
    margin-right: vars.$margin-medium;

    .category_main {
      display: flex;
      align-items: vars.$items-center;
      justify-content: vars.$justify-between;
      cursor: pointer;
      font-weight: 400;
      font-size: 0.9rem;

      span {
        font-weight: 400;
      }

      svg {
        width: 0.9rem;
        height: 0.9rem;
        color: vars.$black;
      }
    }

    .sub_category {
      display: flex;
      flex-direction: column;
      margin-left: vars.$margin-medium;
      margin-top: vars.$margin-small;

      li {
        font-weight: 300;
        cursor: pointer;
        margin-bottom: vars.$margin-small;
        font-size: 0.9rem;
      }
    }
  }

  .menu_item {
    display: flex;
    align-items: vars.$items-center;
    justify-content: vars.$justify-between;
    gap: vars.$margin-small;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: vars.$margin-medium;
    font-size: 0.9rem;

    span {
      font-weight: 400;
    }

    svg {
      width: 0.9rem;
      height: 0.9rem;
      color: vars.$black;
      margin-right: vars.$margin-medium;
    }
  }

  .outlet {
    display: flex;
    align-items: vars.$items-center;
    justify-content: vars.$justify-between;
    gap: vars.$margin-small;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: vars.$margin-medium;
    color: vars.$red;
    font-size: 0.9rem;
  }
}
